<div> <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"> </div>

<div> <strong>nome:</strong><input type="text" value="<%= @carro&.nome %>" name="nome">  </li></div>
<div> <strong>modelo:</strong><input type="text" value="<%= @carro&.modelo %>" name="modelo"> </li> </div>
<div> <strong>Ano:</strong><input type="text" value="<%= @carro&.ano %>" name="ano"> </li> </div>