<section class="py-5 col-4 text-center container">
<h1 style="margin-top:30px"> Cadastrar novo carro </h1>
    <% if @carro.errors.any? %>
        <div style="color: red">
            <h2>
                Não foi possível realizar o cadastro </h2>

                <ul>
                <% @carro.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>    
    <hr>
    <div style="text-align:left">
    
        <form action="/carros" method="POST">
            <%= render "form" %>
            
            <hr>
            <button type="submit" class="btn btn-success">Enviar</button>
            <a href="/carros" class="btn btn-primary"> Voltar </a>
        </form> 
          
    </div>
</section>

