<section class="py-5 text-center container">
<h1 style="margin-top:30px"> Mostrando carro </h1>
    <hr>
    <div style="text-align:left">
        <div>    <strong>id:</strong> <%= @carro.id %> </li>  </div>
        <div> <strong>Nome:</strong>    <%= @carro.nome %> </li> </div>
        <div> <strong>Modelo:</strong>    <%= @carro.modelo %> </li> </div>
        <div> <strong>Ano:</strong>    <%= @carro.ano %> </li> </div>
        <hr>
        <a href="/carros" class="btn btn-primary"> Voltar </a>
    </div>
</section>