<h1>Editing fornecedor tipo</h1>

<%= render "form", fornecedor_tipo: @fornecedor_tipo %>

<br>

<div>
  <%= link_to "Show this fornecedor tipo", @fornecedor_tipo %> |
  <%= link_to "Back to fornecedor tipo", fornecedor_tipos_path %>
</div>
