<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-7 col-md-8 mx-auto">
        <h1 class="fw-light">Bem vindo ao sistema de veiculos</h1>
        <p class="lead text-body-secondary">Confira nossa coleção selecionada, apresentando as últimas adições a nossa lista. Saiba mais sobre cada veículo, nossa equipe e o que nos diferencia. Explore e descubra seu próximo vaiculo!</p>
        <p>
          <a href="/carros" class="btn btn-primary my-2">Veja nossos carros</a>
        </p>
      </div>
    </div>
</section>