<section class="py-5 col-4 text-center container">
<p style="color: green"><%= notice %></p>

<h1>Fornecedores</h1>

<div id="fornecedores">
  <% @fornecedores.each do |fornecedor| %>
    <%= render fornecedor %>
    <p>
      <%= link_to "Mostrar", fornecedor, class:"btn btn-primary" %>
    </p>
  <% end %>
</div>

<%= link_to "Novo fornecedor", new_fornecedor_path, class:"btn btn-success" %>
</section>

