<section class="py-5 col-4 text-center container">
  <h1>New fornecedor</h1>

  <%= render "form", fornecedor: @fornecedor %>

  <br>

  <div>
    <%= link_to "Back to fornecedores", fornecedores_path, class:"btn btn-primary" %>
  </div>
</section>

