<section class="py-5 col-4 text-center container">
<h1 style="margin-top:30px"> Logar no sistema </h1>
    <% flash.each do |key, message| %>
        <div class="alert alert-danger flash <%= key %>"><%= message %></div>
    <% end %>
    
    <form action="/login" method="POST">
        <div> <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"> </div>
        <div> <strong>Email:</strong><input type="text" name="email"  class="form-control">  </li></div>
        <div> <strong>Senha:</strong><input type="password" name="senha"  class="form-control"> </li> </div>    
        <br>
        <button type="submit" class="btn btn-success">Logar</button>
    </form> 
</section>